{% load staticfiles %}
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Yashwanth blog</title>
		<style>
			.angular-google-map {
			display: block;
		}
		</style>
    </head>
    <body ng-app="angular-google-maps-example">
		<div class="page-header">
			{% if user.is_authenticated %}
			<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<p class="top-menu">Hello {{ user.username }} &nbsp &nbsp<small><a href="{% url 'logout' %}">Sign Out</a></small></p>
			{% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
			<table> <tr>
				<td><img src="/media/yashwanth.jpg" style="width:80px;height:80px;"></img> </td> 
				<td>&nbsp &nbsp &nbsp</td>
				<td><h3><a href="/"style="color: white";>Yashwanth's Blog</a></h3></td>
			</tr></table>
		</div>
			<marquee style="color:green">...This Site is Under Construction...</marquee>
	<div class="content container" align=center>
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
	</div>
	</br>
	<h3 align=center>Google Map</h3>
	<div ng-controller="ExampleController" align=center>
			<google-map
			center="centerProperty"
			zoom="zoomProperty" 
			markers="markersProperty"
			latitude="clickedLatitudeProperty"
			longitude="clickedLongitudeProperty"
			mark-click="true"
			draggable="true"
			style="height: 350px; width: 45%">
		</google-map>
	</div>
	<div align=center style="background-color:silver;">
			<hr/>
			<table> <tr> <td>Contact Details : </td></tr></table>
			<div align=center >
					<h3 style="color:orange; font-size:20px">		Owner 	: Yashwanth Reddy Kokkanti</h3> 
					<h4 style="color:white; font-size:15px">		Mobile 	: +91-8867939436  </h4>
					<h4 style="color:green; font-size:15px">		Email 	: yashwanth.kokkanti@gmail.com </h4>
			</div>
	</div>
	</body>
<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="{% static 'js/map.js' %}"></script>
<script>
		var module = angular.module("angular-google-maps-example", ["google-maps"]);
		function ExampleController ($scope) {
		angular.extend($scope, {
		centerProperty: {
			lat: 12,
			lng: 77
		},
		zoomProperty: 6,
		markersProperty: [ {
				latitude: 45,
				longitude: -74
			}],
		clickedLatitudeProperty: null,	
		clickedLongitudeProperty: null,
		});
		}
</script>
</body>
	
</html>