{% load staticfiles %}
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Yashwanth blog</title>
    </head>
    <body>
		<div class="page-header">
			{% if user.is_authenticated %}
			<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<p class="top-menu">Hello {{ user.username }} &nbsp &nbsp<small><a href="{% url 'logout' %}">Sign Out</a></small></p>
			{% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
			<table> <tr>
				<td><img src="media/yashwanth.jpg" style="width:120px;height:100px;"></img> </td> 
				<td>&nbsp &nbsp &nbsp</td>
				<td><h1><a href="/">Yashwanth Blog</a></h1></td>
			</tr></table>
		</div>
<marquee>...This Site is Under Construction...</marquee>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	<div align=center style="background-color:lightgrey;">
			<hr/>
			<table> <tr> <td>Contact Details : </td></tr></table>
			<div align=center >
					<h3 style="color:orange; font-size:20px">		Owner 	: Yashwanth Reddy Kokkanti</h3> 
					<h4 style="color:white; font-size:15px">		Mobile 	: +91-8867939436  </h4>
					<h4 style="color:green; font-size:15px">		Email 	: yashwanth.kokkanti@gmail.com </h4>
			</div>
		</div>
    </body>
</html>