{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post"">
			<div style="width:100%; border-style:groove;">
				<div style="display: table-row;">
					<div style="display:table-cell, block; height:150px;">
						{% if post.image != None and post.image != '' %}
						<img src="{{ post.image.url }}" style="width:100px;height:100px;" />
						</br> </br>
 						<div class="fb-like" data-href="http://yashwanthkokkanti.pythonanywhere.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
						{% else %}
						<img src="/media/beautiful-trees-v.jpg" style="width:100px;height:100px;" />
						{% endif %}
					</div>
					<div>&nbsp &nbsp &nbsp </div>
					<div style="display: table-cell;height:150px; vertical-align:top; position:relative; top:-20px;">
						<h3><a href="{% url "post_detail" pk=post.pk %}" style="color:red;">{{ post.title }}</a></h3>
						<p>{{ post.text|linebreaksbr }}</p>
						<p>Posted by : {{ post.author }} </p>
						<a href="{% url 'post_detail' pk=post.pk %}">Total Comments: {{ post.comments.count }}</a>
					</div>
				</div>
					<div class="date" align=center style="float:left">
						<p>Published: {{ post.published_date }}</p>
					</div>
			</div>
		</div>
	{% endfor %}
	
	<div align=center>
	{% if users %}
		<h4 align=center><u> Displaying all list of registered users </u></h4>
	<table>	
	{% for lUser in users %}
	<tr>
			{% if lUser.is_authenticated %}
			<td>	<img src='/media/online.jpg' style='width:10px;height:10px;'></img> </td>
			<td><b>&nbsp </b></td>
			{% endif %}
			<td> <h6><b>{{ lUser }}  </b></h6>  </td> 
			<td><b>&nbsp -> &nbsp</b></td>
			<td><h6><b> {{ lUser.email }} </b></h6> <td/> 
			<br/>
	<tr/>
	{% endfor %}
	</table>
	{% endif %}
	</div>
	
{% endblock %}
