{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post">
			<div class="date">
		<p>Published: {{ post.published_date }}</p>
			</div>
			<div style="width:100%;">
				<div style="display: table-row">
					<div style="display:table-cell; height:150px;">
						{% if post.image != None and post.image != '' %}
						<img src="{{ post.image.url }}" style="width:150px;height:150px;" />
						{% else %}
						<img src="/media/beautiful-trees-v.jpg" style="width:150px;height:150px;" />
						{% endif %}
					</div>
					<div>&nbsp &nbsp &nbsp </div>
					<div style="display: table-cell;height:150px; vertical-align:top; position:relative; top:-20px;">
						<h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
						<p>{{ post.text|linebreaksbr }}</p>
						<p>Posted by : {{ post.author }} </p>
						<a href="{% url 'post_detail' pk=post.pk %}">Total Comments: {{ post.comments.count }}</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}